/** @format */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
header {
  display: flex;
  align-items: center;
  color: black;
}

body {
  background-image: url("../images/esspresso.jpg");
  background-position-x: right;
  background-color: black;
  display: grid;
  background-repeat: no-repeat;
  min-height: 70vh;
  background-size: cover;
  grid-template-rows: auto;
}
p {
  color: white;
  font-size: large;
  margin: 100px;
  font: Avenir;
}
h1 {
  font: Helvetica;
  font-style: italic;
  color: burlywood;
}
h2 {
  font: Helvetica;
  font-style: italic;
  color: burlywood;
}
h3 {
  font: Helvetica;
  font-style: italic;
  color: black;
}

h4 {
  font: serif;
  font-size: 18px;
  color: wheat;

  font-weight: 500;
  text-decoration: underline;
}
h5 {
  color: wheat;
  font: serif;
}
main {
  background-position: right;
}
.logo {
  border-radius: 10px;
  border-image: fill;
  margin: 30px;
}
nav li {
  width: auto;
  display: inline-block;
  margin: 60px;
  padding: 5px;
  position: relative;
  font-size: 20px;
}
nav ul {
  float: left;
}
nav a {
  color: white;
  text-decoration: none;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.form {
  width: 1000px;
  height: 440px;
  border-radius: 20px;
  display: block;
  flex-direction: row;
  align-items: center;
  float: left;
  margin-left: 400px;
  color: bisque;
}
.wrap-search {
  float: right;
  margin: auto;
}

general {
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 80px;
  width: 70%;
  float: left;
  min-height: 175px;
  position: relative;
}
.item {
  position: relative;
  padding: 10px;
  margin: 0;
  display: grid;
  min-height: 175px;
  position: relative;
  text-align: left;
  width: 80%;
  float: right;
}
.item1 {
  position: relative;
  padding: 200px;
  margin: 0;
  display: grid;
  min-height: 175px;
  position: relative;
  text-align: left;
  width: 80%;
  float: right;
}

.footer {
  padding: 70px 0px;
}
.containerfooter {
  max-width: 1750px;
  overflow: hidden;
  margin: auto;
  padding: 70px 0;
  display: block;
  box-sizing: border-box;
}
.footer-row {
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100px;
}
footer-col {
  width: 25%;
  padding: 0 10px;
}

* {
  margin: 0px;
  padding: 0px;

  text-decoration: none;
  box-sizing: border-box;
}

.footer-row .footer-col {
  width: calc(21.6666666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
  display: block;
}
.footer-row .footer-col:last-child {
  margin-right: 0;
}

.location {
  margin: 50px;
  padding: 20px;
  color: bisque;
}
.view {
  width: 600px;
  height: 400px;
  border-radius: 10px;
  margin: 200px;
}
.label {
  color: bisque;
}
.moving {
  font-family: sans-serif;
  -webkit-text-stroke: 1px rgb(25, 5, 58);
  font-weight: bold;
  color: rgb(240, 135, 65);
  margin: 5px;
  width: auto;
  height: auto;
}
.align {
  margin-left: 225px;
}

.align1 {
  margin-left: 375px;
}
.locations {
  color: bisque;
}
.viewproduct {
  width: 400;
  height: 300;
  margin-left: 475px;
}
.product {
  margin-left: 610px;
}
